

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import url('http://fonts.googleapis.com/css?family=Open+Sans');

 body {
	font-family: Open Sans;
	overflow-x: hidden;
	margin: 0 auto;
	padding: 0 auto;
	width: 100%;
}
.service-description {
	font-weight: bold;
}
.modal-header {
	background-color: #58646D;
}
.modal-title {
	
	color: white;
	font-size: 30px;
	font-weight: bold;
}
#header {
	height: 1060px;
	text-align: center;
	background: url("../img/header.png") no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#header h1 {
	font-weight: bolder;
}
.navbar {
	background-color: #955251;
	-webkit-box-shadow: 0px 0px 8px 2px #000000;
       -moz-box-shadow: 0px 0px 8px 2px #000000;
            box-shadow: 0px 0px 8px 2px #000000;
}
.navbar-brand {
	color: white;
}
.navbar-brand:hover {
	text-decoration: none;
	color: white;
}
.icon-bar {
	background-color: white;
}
.bio-pic {
	padding:3px;
	background-color: white;
	border-radius: 2px;
	border: 2px solid #58646D;
	margin-top: 60px;
}
#bio {
	padding-top: 100px;
	padding-bottom: 100px;
}
#bio h4 {
	font-weight: bold;
}
#memberships {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #58646D;
	color: white;
}
.main-wrapper {
	margin: auto;
	overflow: hidden;
}
.membership-text {
	float: left;
}
.gavel-icon {
	margin: 40px;
	margin-left: 80px;
	text-align: center;
	padding-top: 15px;
	padding-right: 10px;
	height: 200px;
	width: 200px;
	font-size: 100px;
	border-radius: 50%;
	border: 6px solid white;
	color: white;
}
#scale {
	font-size: 325px;
	color: white;
	margin-top: 115px;
	opacity: .1;
}
#serving {
	margin-top: 100px;
	text-align: center;
}
.locations {
	margin-top: 50px;
}
#carousel {
	max-width: 547px;
	padding:3px;
	background-color: white;
	border-radius: 2px;
	border: 2px solid #58646D;
}
.contact-wrapper {
	margin-top: 200px;
	width: 100%;
}
#contact {
	height: 1100px;
	background-color: #A3AC99;
	width: 104%;
	margin: 0 none;
	padding-top: 100px;
	padding-bottom: 100px;
}
#contact h2 {
	color: white;
}
#contact h3 {
	color: white;
}
#send-button {
	width: 150px;
	padding: auto;
	height: 40px;
	background: transparent;
	border-radius: 2px;
	border: 2px solid white;
	color: white;
	font-size: 20px;
	transition: 0.2s ease;
}
#send-button:hover {
	color:#A3AC99;
	background-color: white;
}
.contact-info {
	float:right;
	text-align: right;
}
#dropdownMenu1 {
	height: 30px;
	padding-top: 4px;
	opacity: .8;
	background-color: transparent;
	border-radius: 4px;
	border: 2px solid white;
	color: white;
	margin-top: 10px;
	float: right;
	transition: 0.2s ease;
}
#dropdownMenu1:hover {
	opacity: 1;
	color:#955251;
	background-color: white;
}
.navbar-link {
	opacity: .8;
	margin-right: 30px;
	color: white;
}
.navbar-link:hover {
	color: white;
	opacity: 1;
}
.navbar-link:focus {
	color: white;
	opacity: 1;
	text-decoration: none;
}
#tree-logo {
	width: 70px;
	height: 70px;
	margin-top: -10px;
	margin-bottom: -10px;
}
#text-logo {
	margin-bottom: -5px;
	margin-top: 2px;
}
footer p {
	margin-top: 25px;
	text-align: center;
}
.social i {
	font-size: 40px;
	margin: 10px;
	transform: scale(1);
	color: white;
	transition: 0.2s ease;
}
.social a {
	text-decoration: none;
}
.social a:focus {
	color: inherit;
	outline:0px !important;
    -webkit-appearance:none;
}
.social i:hover {
	transform: scale(1.1);
}
.social {
	margin-top: 20px;
	padding: 10px;
}
.watermark {
	max-width: 500px;
	margin-right: 50px;
	margin-top: 100px;
	margin-left: -10px;
	opacity: .1;
}
@media only screen and (max-width:480px){

    .dropdown-menu{
        display: block;
        position: static;
        background-color:transparent;
        border:0 none;
        box-shadow:none;
        margin-top:0;
        position:static;
        width:100%;
        text-align: right;
    }
    #dropdownMenu1 {
    	color: #777;
    	background-color: white;
    	opacity: 1;
    }
    .navbar-nav .dropdown-menu > li > a{
        line-height:20px;
        text-align: right;
    }
    .navbar-default .navbar-nav .dropdown-menu > li > a{    
        color:#777;
    }
    #dropdownMenu1 {
    	margin-top: -10px;
    	margin-right: 15px;
    }
    #contact {
    	width: 104%;
    }
    .contact-wrapper {
		margin-top: 60px;
		padding: 0 none;
	}

	.bio-pic {
		margin: 0 auto;
	}
	#header {
		height: 400px;
    background: url("../img/header.png") no-repeat top center fixed;
    background-size: auto;
	}
  #header h1 {
    margin-top: 20px;
  }
  .locations {
    margin-top: -80px;
  }
}

@media only screen and (max-width:480px){
  #header h1 {
    font-size: 22px;
    font-weight: bold;
  }

  #header h4 {
    font-size: 14px;
  }
}